{#
/**
 * Available variables:
 * - alert_base_class - the base classname
 * - alert_modifiers - array of modifiers to add to the base classname to identify what type of alert (e.g. danger)
 * - alert_blockname - blockname prepended to the base classname
 *
 * - alert__content - the content of the alert (typically text)
 *
 * Available blocks:
 * - alert_content - used to replace the content of the blockquote with something other than text
 *   for example: A formatted text field in Drupal
 */
#}
{% set alert_base_class = alert_base_class|default('alert') %}

<div
  {{ bem(alert_base_class, alert__modifiers, alert_blockname) }}
  role="contentinfo"
>
  {% block alert_content %}
    <div {{ bem('content', [], alert_base_class) }}>
      {{ alert__content }}
    </div>
  {% endblock %}
</div>
