html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: clr(text);
  min-height: 100vh;
  @include body-copy;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  display: block; /* Fix for IE weirdness */
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
