//// Variables
////
//// Variables should follow the `$component-state-property-size` formula for
//// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
//
//// Color system
//

/* stylelint-disable */
//// Spacing
////
//// Control the default styling of most Bootstrap elements by modifying these
//// variables. Mostly focused on spacing.
//// You can add more entries to the $spacers map, should you need more variation.
//
$spacer: 1rem !default;
$spacers: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

//// Utilities
//
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;


// Grid
$grid-columns: 12 !default;

$grid-gutter-widths: (
  xs: 1.6rem,
  md: 3.2rem
) !default;
