<div class="js-form-item form-item form-item--managed_file__item">
  <label for="edit-file-2-upload" id="edit-file-2--label" class="form-item__label">
    Add file
    <span class="form--optional">(optional)</span>
  </label>
  <div class="form-item__description">
    <div id="edit-file-2--description" class="webform-element-description"><br>One file only.<br>10 MB limit.<br>Allowed types: jpg, png, bmp, rtf, pdf, doc, docx, ppt, pptx, xxps.
    </div>
  </div>

  <div id="edit-file-2" class="js-form-managed-file form-managed-file">
    <input data-drupal-selector="edit-file-2-upload" type="file" id="edit-file-2-upload" name="files[file_2]" size="22" class="js-form-file form-file form-item__textfield">
    <button class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-file-2-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-file-2-upload-button" name="file_2_upload_button" value="Upload">
      Upload
    </button>

    <input data-drupal-selector="edit-file-2-fids" type="hidden" name="file_2[fids]" class="form-item__textfield" value="">

  </div>

</div>
