{% if not attributes %}
<div class="form-item">
  <label for="selectdropdown" class="form-item__label">Select Dropdown</label>
  <div class="form-item__dropdown">
    <select class="form-item__select" id="selectdropdown">
      <optgroup label="Whatever">
{% endif %}
        {% for selection in select %}
          {% include "@atoms/forms/select/_select-item.twig" with {
            select_item: selection.title
          } %}
        {% endfor %}
{% if not attributes %}
      </optgroup>
    </select>
  </div>
</div>
{% endif %}

{% if not attributes %}
<div class="form-item form-item--error">
  <label for="selectdd2" class="form-item__label">Select Dropdown</label>
  <div class="form-item__dropdown">
    <select class="form-item__select" id="selectdd2">
      <optgroup label="Whatever">
        {% for selection in select %}
          {% include "@atoms/forms/select/_select-item.twig" with {
            select_item: selection.title
          } %}
        {% endfor %}
      </optgroup>
    </select>
  </div>
</div>
{% endif %}
